@(gameController:controller.Controller, gameModel:model.Model, matrix:model.FieldMatrix, status:model.GameStatus.GameStatus, isStartField:Boolean)

@main("Minesweeper") {

<h1>Good Luck!</h1>
    @if(status == model.GameStatus.InProgress || isStartField){
        <div>
            @for(field_ <- matrix.fields) {
            <br>
                @for(field <- field_) {
                    @if(field.isOpened && field.isFlagged) {
                        <a href="/open/@field.xLocation/@field.yLocation">\u2690</a>
                    } else if(field.isOpened && field.surroundingBombs == 0) {
                        <a href="/open/@field.xLocation/@field.yLocation">\u25A1</a>
                    } else if(field.isOpened && field.surroundingBombs > 0) {
                        <a href="/open/@field.xLocation/@field.yLocation"> [@field.surroundingBombs] </a>
                    } else {
                        <a href="/open/@field.xLocation/@field.yLocation">\u2B1B</a>
                    }
                }
            }
        </div>
        <div>
            <br>
            <button onclick="location.href = '/restart/1';" id="myButton" class="submit-button" >Easy</button>
            <button onclick="location.href = '/restart/2';" id="myButton2" class="submit-button" >Medium</button>
            <button onclick="location.href = '/restart/3';" id="myButton3" class="submit-button" >Hard</button>
        </div>
    } else if (status != model.GameStatus.InProgress) {
        You @status!
        <div>
            <br>
            <button onclick="location.href = '/restart/1';" id="myButton4" class="submit-button" >Easy</button>
            <button onclick="location.href = '/restart/2';" id="myButton5" class="submit-button" >Medium</button>
            <button onclick="location.href = '/restart/3';" id="myButton6" class="submit-button" >Hard</button>
        </div>
    }

}
